*{
    text-decoration: none;
}

.navbar {
    background-color: hsl(182, 68%, 79%);
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;

}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    length: 100px
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 25px;
}